<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<% include templates/headers.ejs%>
<br>
<br>
<h3>Founders:</h3>
<div>Mor Naim Meod</div>
<div>Natalie Gavrielovich</div>
<div>Ido Yeffet</div>
</body>
</html>
