<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <% include templates/headers.ejs%>
    <br>
    <br>
    <p>Welcome to the MyconsWeb. here you can choose the mycons you want download to your device! </p>
  </body>
</html>
